# Xcode
build/
DerivedData/
*.xcworkspace

# Swift Package Manager
.swiftpm/
.build/

# Firebase
GoogleService-Info.plist

# macOS
.DS_Store

# Cursor-specific
.idea/
.cursor/

# Function source files
function_source.zip

# Python virtual environments
functions/venv/
